/*GENERAL STYLES*/

body {
	font-family: 'Play', sans-serif;
	margin-top:0px;
	margin-left:0px;
	margin-right:0px;
	padding:0px;
}


/*!!!INDEX!!!*/


/*HEADER*/

.header {
	background-color: #33bbff;
	height: 100px;
	padding:10px;

}
.header img{
	width:110px;
}
.header h1 {
	margin-bottom: 0px;
	letter-spacing: 3px;
	font-family:'Orbitron', sans-serif;
	color:white;
	font-size:36px;
}
.header h2 {
	margin-top:0px;
	font-family: 'Play', sans-serif;
	font-size:16px;
	letter-spacing: 2px;
	}


/*NAVIGATION BAR*/

.bar {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #333;
}
.bar li {
	float: left;
	border-right:1px solid #bbb;
}
.bar li a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 20px;
	text-decoration: none;
}
.bar li a:hover {
	background-color: #33bbff;
}

/*MAIN SECTION*/

.onstiftyoucan{
	padding:30px;
	/*border:1px solid green;*/
	/*margin-bottom:150px;*/
	/*	margin-bottom:0;*/
	clear:left;
	padding-top: 5px;
	padding-bottom: 5px;
	/*background-color:yellow;*/
}

.onstiftyoucan div{
	float: left;
	/*border:1px solid red;*/
	width: 295px;
	/*background-color: yellow;*/
}
.onstiftyoucan h2{
	font-family: 'Play', sans-serif;
	color: black;
	font-size: 19px;
	text-align:center;
	padding: 10px;
	clear: left;
	margin: 10px;
	letter-spacing: 3px;
}
.onstiftyoucan p {
	text-align:center;
	letter-spacing: 3px;
	font-size:17px;
	line-height:1.8;
}
.onstiftyoucan img {
	width:50px;
}
#imgforwhostift{
	width:820px;
}
#imghowitworks{
	width:800px;
	margin-left:10%;
	margin-top:30px;
}
.imgfeedback {
	width:50px;
	height:50px;
}
.onstiftyoucan a {
	background-color:white;
	color:black;
	border: 2px solid #33bbff;
	padding: 20px 36px;
	text-align:center;
	text-decoration:none;
	font-size:18px;
	/*margin:4px 10px;*/
	-webkit-transition-duration:0.7s;
	transition-duration:0.7s;
	cursor:pointer;
	font-family: 'Play', sans-serif;
	letter-spacing:3px;
	border-radius:6px;
	margin:15px;
}
.onstiftyoucan a:hover{
	color:white;
	background-color:#33bbff;
}
#partofstift{
	margin:auto;
	width: 590px;
	/*border: 1px solid black;*/
	height: 100px;
}

/*FOOTER*/

.footer {
	background-color: #33bbff;
	height: auto;
	padding:10px;
	clear:left;
	/*border:1px solid black;*/
	margin-bottom:0px;
}
.footer img{
	width:70px;
}
.footer h2{
	font-size:28px;
	font-family:'Orbitron', sans-serif;
	/*border:1px solid black;*/
	margin-bottom:0px;
}
.footer p {
	color:white;
	margin-top:0px;
	/*border:1px solid black;*/
}


/*!!!COSTUMER!!!*/

.costumerhead{
	list-style-type:none;
	/*border: 1px solid red;*/
	overflow:hidden;
}
.costumerhead li{
	display:block;
	/*border: 1px solid black;*/
	width:380px;
	float:left;
}
.costum{
	/*float: left;*/
	border:1px solid black;
	width: 395px;
	margin:0px;
}
#form{
	width:45%;
	/*border:1px solid black;*/
	margin:auto;
	clear:left;
	float:none;
}
input[type=text], select{
	width:100%;
	padding:12px 20px;
	margin:8px 0;
	display:inline-block;
	border:1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
}
input[type=password], select{
	width:100%;
	padding:12px 20px;
	margin:8px 0;
	display:inline-block;
	border:1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
}

/*
input[type=date]{
	width:100%;
	padding:12px 20px;
	margin:8px 0;
	display:inline-block;
	border:1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
}*/

.set{
	border-radius:4px;
	border: 1px solid grey;
	padding:30px 100px;
	margin:10px;
}

/*BUTTON*/

.button{
	width:250px;
	padding:5px;
	border-radius: 4px;
	/*background-color:#33bbff;*/
	background-color:white;
	/*color:white;*/
	color:black;
	text-align:center;
	font-size: 16px;
	cursor:pointer;
	margin: 15px 10px 5px 0px;
	/*border:none;*/
	border:1px solid #ccc;
	font-family: 'Play', sans-serif;
	display:inline-block;
	transition:all 0.5s;
}
.button span{
	cursor:pointer;
	display:inline-block;
	transition:0.5s;
	position:relative;
}
.button span:after{
	content:"+";
	position:absolute;
	transition:0.5s;
	opacity:0;
	top:0;
	left:-20px;
}
.button:hover span{
	padding-left:25px;
}
.button:hover span:after{
	opacity:1;
	left:0;
}
/*BUTTON*/

.detailNum {
	margin-left: 40%;




}
.error {
	color: red;
}

.error1 {
	color:red;
}

table {
  border:1 px solid black;
	background-color:blue;
	font-size: 10px;
}

td, th {
    border: 1px solid black;
    text-align: left;
    padding: 10px;
}
